@use "../../../assets/styles/mixin.scss" as *;
@use "../../../assets/styles/variables" as *;

.EditSaveContainer {
  .resultFrameWrap {
    position: relative;
  }
  .resultFrame {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .capturedImgWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    img {
      width: 100%;
    }
  }
  .congratulationText {
    width: 100%;
    position: absolute;
    z-index: 101;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
    text-align: center;
  }
  .textAreaWrap {
    div {
      margin-bottom: 10px;
    }
    textarea {
      width: 310px;
      height: 120px;
      @include font-style($font-basic, 17px, 400, #222);
      border-radius: 3px;
      background-color: #ffffff;
      border: 1px solid var(--font-color);
      padding: 10px;
    }
  }
  .editSaveEtc {
    width: 100%;
    max-width: 310px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .buttonContainer {
    display: flex;
    .etcButton {
      width: 50%;
      @include font-style($font-basic, 17px, 700, #fff);
      border-radius: 8px;
      letter-spacing: 0.5px;
    }
    .downloadBtn {
      background-color: $red;
      color: #fff;
      font-weight: 700;
    }
    .replayBtn {
      background-color: #c7c7c7;
      color: #222;
    }
  }

  // 모바일
  &.mobile {
    .saveEditInner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 40px 0 80px;
    }
    .resultFrameWrap {
      width: 310px;
      height: 995px;
    }
    .capturedImgWrap {
      padding: 37px 26px 0 26px;
      gap: 25px;
    }
    &.isHorMobileOnly {
      .capturedImgWrap {
        padding: 37px 26px 0 26px;
        gap: 27px;
      }
    }
    // mob 세기의 킬러전 프레임
    &.killerExhibition {
      .resultFrameWrap {
        height: 465px;
      }
      .capturedImgWrap {
        padding: 24px 15px 24px 14px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px 10px;
        img:nth-child(1) {
          width: 177px;
          position: relative;
          z-index: 1;
        }
        img:nth-child(2) {
          width: 94px;
          height: 126px;
        }
        img:nth-child(3) {
          width: 121px;
          height: 162px;
        }
        img:nth-child(4) {
          position: absolute;
          bottom: 106px;
          right: 15px;
          width: 151px;
          height: 200px;
          z-index: 1;
        }
      }
    }
    // mob 티켓 프레임
    &.ticket {
      .resultFrameWrap {
        height: 465px;
      }
      .capturedImgWrap {
        padding: 66px 167px 19px 14px;
        gap: 7px;
      }
    }
    .congratulationText {
      height: 157px;
      padding: 26px 29px 26px;
      span {
        @include font-style($font-hand, 36px, 400, #fff);
        line-height: 42px;
      }
      &.blueText {
        padding-top: 20px;
        padding-bottom: 40px;
      }
    }
    .textAreaWrap {
      div {
        margin: 50px 0 10px;
      }
    }
    .buttonContainer {
      gap: 12px;
      .etcButton {
        height: 44px;
        font-size: 16px;
        margin: 28px auto 0;
        padding-bottom: 3px;
      }
    }
    &.white {
      .resultFrameWrap {
        width: 310px;
        height: 465px;
      }
      .capturedImgWrap {
        padding: 100px 25px 29px 25px;
        gap: 9px 11px;
        flex-direction: row;
        height: 465px;
        align-items: flex-start;
        flex-wrap: wrap;
        img {
          width: calc(50% - 5.5px);
        }
      }
    }
  }

  // pc
  &.pc {
    .saveEditInner {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 50px;
      padding: 50px 0 110px;
    }
    .resultFrameWrap {
      width: 350px;
      height: 1122px;
    }
    .capturedImgWrap {
      padding: 42px 29px 0 29px;
      gap: 28px;
    }
    // PC 세기의 킬러전 프레임
    &.killerExhibition {
      .resultFrameWrap {
        width: 370px;
        height: 555px;
      }
      .capturedImgWrap {
        padding: 29px 17px 30px 17px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 22px 11px;
        img:nth-child(1) {
          width: 211px;
          height: 281px;
        }
        img:nth-child(2) {
          width: 114px;
          height: 149px;
        }
        img:nth-child(3) {
          width: 145px;
          height: 193px;
        }
        img:nth-child(4) {
          position: absolute;
          bottom: 127px;
          right: 17px;
          width: 179px;
          height: 237px;
          z-index: 1;
        }
      }
    }
    // mob 티켓 프레임
    &.ticket {
      .resultFrameWrap {
        width: 370px;
        height: 555px;
      }
      .capturedImgWrap {
        padding: 79px 199px 23px 18px;
        gap: 9px;
      }
    }
    .congratulationText {
      height: 185px;
      @include font-style($font-hand, 41px, 400, #fff);
      line-height: 46px;
      padding: 33px 29px 30px;
      &.blueText {
        padding-top: 35px;
        padding-bottom: 49px;
      }
    }
    .buttonContainer {
      gap: 12px;
      .etcButton {
        height: 50px;
        font-size: 18px;
        padding-bottom: 3px;
        margin: 46px auto 20px;
      }
    }
    &.white {
      gap: 40px;
      .resultFrameWrap {
        width: 370px;
        height: 555px;
      }
      .capturedImgWrap {
        padding: 122px 31px 36px 31px;
        gap: 11px 14px;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        img {
          width: calc(50% - 7px);
        }
      }
      .editSaveEtc {
        max-width: 290px;
      }
    }
  }
}
