.frameTypeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border: 1px solid var(--font-color);
  border-radius: 5px;
  position: relative;
  padding: 26px 16px 30px;
  .frameName {
    font-size: 15px;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
  }
  .imgWrap {
    position: relative;
    display: inline-block;
    button {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    img {
      width: 100%;
      max-width: 64px;
    }
    &.lgFrame {
      img {
        max-width: 134px;
      }
    }
  }
  .selectBtn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 5;
  }
  .zoomBtn {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    bottom: 14px;
    right: 14px;
    z-index: 10;
    background-image: url(../../assets/img/photoBooth/icon_zoom.png);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--font-color);
  }

  &.mobile {
    width: calc(50% - 7px);
  }
  &.pc {
    width: calc(33.33% - 7px);
  }
}

.frameLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.frameLayer img {
  position: relative;
  max-width: 80%;
  max-height: 90%;
  z-index: 1000;
  background-color: #fff;
}
