@use "../../../assets/styles/mixin.scss" as *;
@use "../../../assets/styles/variables.scss" as *;

.homeMainContainer {
  padding: 0 13px 10% 13px;
  overflow: hidden;
}
.sectionVideo {
  display: flex;
  flex-direction: column;
}
.videoWrap {
  display: flex;
  width: 100%;
  border: 1px solid #000;
  position: relative;
  .videoPoster {
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }
}
.mainVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.imgMiniBoxs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 7px 0 10px;
  position: relative;
  z-index: -1;
  img {
    width: calc(25% - 5.25px);
    border: 1px solid #000;
    object-fit: cover;
  }
  .nameJapen {
    width: calc(25% - 5.25px);
    background-size: 72%;
    background-position: center 40%;
    background-repeat: no-repeat;
    &.dark {
      background-color: #fff;
    }
    &.light {
      background-color: #000;
    }
  }
}
.mainTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
  h3 {
    span {
      font-weight: 500;
      margin-right: 3px;
    }
    @include font-style($font-eng, 38px, 500, $red);
    letter-spacing: -2.5px;
    line-height: 35px;
    flex-shrink: 0;
  }
  p {
    @include font-style($font-eng, 12px, 500, $red);
    letter-spacing: -0.5px;
    line-height: 15px;
    text-align: right;
    margin-top: 2px;
  }
  @media (max-width: 359px) {
    flex-direction: column;
    p {
      text-align: left;
      margin-top: 10px;
    }
  }
}
.sectionPart2 {
  display: flex;
  justify-content: space-between;
  .nameJapen {
    width: calc(25% - 3.5px);
    background-size: 68%;
    background-position: center 40%;
    background-repeat: no-repeat;
    &.dark {
      background-color: #fff;
    }
    &.light {
      background-color: #000;
    }
  }
  .miniBox {
    width: calc(25% - 3.5px);
    border: 1px solid #000;
    object-fit: cover;
  }
  .paperLongBox {
    width: calc(75% - 3.5px);
    display: flex;
    position: relative;
    z-index: -1;
    overflow: visible;
    .paperBg {
      width: 100%;
      object-fit: cover;
    }
    .nagumo {
      width: 75%;
      position: absolute;
      bottom: 0;
      right: -13px;
    }
  }
}
.sectionPart3 {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  .miniBox {
    width: calc(25% - 3.5px);
    border: 1px solid #000;
    object-fit: cover;
  }
  .longBox {
    width: calc(75% - 3.5px);
    border: 1px solid #000;
    object-fit: cover;
  }
}

// pc
.pc.homeMainContainer {
  padding-bottom: 50px;
  .sectionVideo {
    flex-direction: column-reverse;
  }
  .videoWrap {
    height: 445px;
    overflow: hidden;
  }
  .mainTitle {
    align-items: center;
    flex-direction: column-reverse;
    margin: 0 0 9px 0;
    img {
      width: 100%;
    }
  }
  .imgMiniBoxs {
    margin: 7px 0 12px;
    img {
      width: calc(25% - 9px);
      height: 140px;
    }
  }
  .sectionPart2 {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    height: 166px;
    .miniBox {
      width: calc(25% - 6px);
    }
    .paperLongBox {
      width: calc(75% - 6px);
      z-index: 1;
      .paperBg {
        width: 100%;
      }
      .nagumo {
        width: 68%;
        position: absolute;
        bottom: 0;
        right: -70px;
      }
      .pcNagumoName {
        position: absolute;
        transform: translateY(-50%);
        top: 48%;
        left: 36px;
        img {
          width: 27%;
        }
        img + img {
          margin-left: 8px;
        }
      }
    }
  }
}
