@use "../../../assets/styles/mixin.scss" as *;
@use "../../../assets/styles/variables.scss" as *;

.parallaxContainer {
  transition: background-color 0.5s ease;
  max-width: 800px;
  margin: 0 auto;
}
.bgDark {
  background-color: var(--parallax-bg);
}
section {
  position: relative;
  & + section {
    margin-top: 55vw;
  }
}

.bigWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.fadeIn {
  opacity: 1 !important;
}
.bigImg {
  transition: opacity 0.8s ease;
  opacity: 0;
}
.smallImg {
  position: absolute;
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.section01,
.section02 {
  .bigWrap {
    padding-top: 150%;
    border-top: 5px solid red;
  }
  .bigImg {
    width: 85%;
    position: relative;
    z-index: 1;
    transform: translateX(27%);
  }
  .small01 {
    width: 70%;
    right: 6%;
    top: -10%;
  }
  .small02 {
    width: 37%;
    left: 3%;
    top: 55%;
  }
  .small03 {
    width: 30%;
    right: 10%;
    top: 33%;
  }
  .dialogText {
    writing-mode: vertical-rl;
    @include font-style($font-japen, 32px, 500, #fff);
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.7s ease,
      transform 0.7s ease;
    position: absolute;
    top: -6%;
    left: 1%;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
