@use "../../../assets/styles/mixin.scss" as *;
@use "../../../assets/styles/variables.scss" as *;

.parallaxContainer {
  transition: background-color 0.5s ease;
  max-width: 800px;
  margin: 0 auto;
}
section {
  width: 100%;
  position: relative;
  overflow: hidden;
  & + section {
    margin-top: 55vw;
  }
}
.bigWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  // border-top: 2px solid red;
}
.fadeIn {
  opacity: 1 !important;
}
.bigImg {
  transition: opacity 1s ease;
  opacity: 0;
}
.smallImg {
  position: absolute;
  transition: transform 0.1s ease-out;
  will-change: transform;
  opacity: 0.4;
  filter: blur(0.7px);
}
.dialogSmText,
.dialogLgText {
  @include font-style($font-japen, inherit, 500, #fff);
  opacity: 0;
  filter: blur(4px);
  transform: translateY(20px);
  transition:
    opacity 0.7s ease,
    filter 0.7s ease,
    transform 0.7s ease;
  white-space: pre-line;
  position: absolute;
  &.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
.dialogSmText {
  color: #b6b6b6;
  opacity: 0;
  filter: blur(4px);
  transition:
    opacity 0.8s ease,
    filter 0.8s ease;

  &.visible {
    opacity: 1;
    filter: blur(0);
  }
}

// --------- Section01
.section01 {
  .bigWrap {
    padding-top: 320%;
  }
  .bigImg {
    width: 85%;
    position: relative;
    z-index: 1;
    transform: translateX(27%);
  }
  // small
  .small01 {
    width: 41.5%;
    left: 7%;
    top: 0;
  }
  .small02 {
    width: 49%;
    right: 9%;
    top: 18.5%;
  }
  .dialogSmText {
    font-size: 18px;
    line-height: 20px;
    top: 27.8%;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
  }
  .small03 {
    width: 66.2%;
    left: 0;
    top: 34.5%;
  }
  .small04 {
    width: 39.4%;
    right: 0;
    top: 47.5%;
  }
  .small05 {
    width: 47%;
    left: 0;
    top: 55.8%;
  }
  .small06 {
    width: 70%;
    right: 2%;
    top: 74%;
  }
  .small07 {
    width: 40%;
    left: 0;
    top: 95%;
  }
  .dialogLgText {
    font-size: 32px;
    writing-mode: vertical-rl;
    top: 63%;
    z-index: 10;
  }
}

// --------- Section02
.section02 {
}

// --------- Section03
