@use "../../../assets/styles/mixin.scss" as *;
@use "../../../assets/styles/variables.scss" as *;

.textLineWrap {
  margin: 25% 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  .textInner {
    position: relative;
  }
  .text {
    width: clamp(249px, 55vw, 480px);
  }
  .circleLine {
    width: clamp(119px, 26vw, 230px);
    position: absolute;
    top: -4px;
    right: 7.5%;
  }
  .waveLine {
    width: clamp(230px, 52vw, 453px);
    position: absolute;
    left: 4%;
    bottom: -10%;
  }
  &.pc {
    margin: 150px 0 140px;
  }
}

.circleLine,
.waveLine {
  path {
    stroke: #ff0000;
    fill: none;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 1.5s ease;
  }
}
.animateLine {
  animation: drawLine 3s ease forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}
