.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.homeContainer.container {
  .contents {
    padding: 68px 0 0;
  }
  &.pc {
    .contents {
      padding: 92px 0 0;
    }
  }
}
