/* GenRyuMin */
@font-face {
  font-family: "GenRyuMin";
  src:
    url("/fonts/GenRyuMin/GenRyuMin2JP-M.woff2") format("woff2"),
    url("/fonts/GenRyuMin/GenRyuMin2JP-M.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/* Hahmlet - Regular */
@font-face {
  font-family: "Hahmlet";
  src:
    url("/fonts/Hahmlet/Hahmlet-Regular.woff2") format("woff2"),
    url("/fonts/Hahmlet/Hahmlet-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Hahmlet - Medium */
@font-face {
  font-family: "Hahmlet";
  src:
    url("/fonts/Hahmlet/Hahmlet-Medium.woff2") format("woff2"),
    url("/fonts/Hahmlet/Hahmlet-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/* Hahmlet - Bold */
@font-face {
  font-family: "Hahmlet";
  src:
    url("/fonts/Hahmlet/Hahmlet-Bold.woff2") format("woff2"),
    url("/fonts/Hahmlet/Hahmlet-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Hahmlet - Black */
@font-face {
  font-family: "Hahmlet";
  src:
    url("/fonts/Hahmlet/Hahmlet-Black.woff2") format("woff2"),
    url("/fonts/Hahmlet/Hahmlet-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
/* HelveticaNeue - Medium */
@font-face {
  font-family: "HelveticaNeue";
  src:
    url("/fonts/HelveticaNeue/HelveticaNeue-Medium.woff2") format("woff2"),
    url("/fonts/HelveticaNeue/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/* HelveticaNeue - Bold */
@font-face {
  font-family: "HelveticaNeue";
  src:
    url("/fonts/HelveticaNeue/HelveticaNeue-Bold.woff2") format("woff2"),
    url("/fonts/HelveticaNeue/HelveticaNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "InkLipquid";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #fff;
  --font-color: #000;
  --parallax-bg: #000;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-weight: 400;
}

html,
body {
  font-family:
    "Hahmlet",
    "HelveticaNeue",
    Helvetica,
    Dotum,
    "돋움",
    Apple SD Gothic Neo,
    sans-serif;
  -webkit-font-smoothing: antialiased; /* MacOS */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  text-rendering: optimizeLegibility;
  transition: background-color 0.5s ease;
}
html {
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}
html.dark {
  background-color: #000;
  color: #fff;
  --bg-color: #000;
  --font-color: #fff;
  --parallax-bg: #280306;
}
html.parallax {
  background-color: var(--parallax-bg);
}
html.parallax header {
  background-color: var(--parallax-bg);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  font-family:
    "Hahmlet",
    "HelveticaNeue",
    Helvetica,
    Dotum,
    "돋움",
    Apple SD Gothic Neo,
    sans-serif;
}
a {
  color: #222;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  text-decoration: none;
}
a:hover,
a:active {
  color: #222;
  text-decoration: none;
}
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Hahmlet", "HelveticaNeue";
}
input:focus,
input:focus-visible {
  outline: none;
  box-shadow: none;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

input::-ms-clear {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-tap-highlight-color: transparent !important;
  touch-action: manipulation !important;
  appearance: none !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

* {
  box-sizing: border-box;
}
.blind {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
