@use "../../../assets/styles/mixin.scss" as *;
@use "../../../assets/styles/variables.scss" as *;

.parallaxSlideWrapper {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  min-height: 103vh;
  height: 150vw;
  margin-top: 100px;
}
.slideItem {
  max-width: 100vw;
  min-height: 103vh;
  height: 150vw;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(20px);
}
.activeSlide {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.fadeIn {
  animation: fadeInUp 0.8s ease forwards;
}
.slideItem:nth-child(1).activeSlide {
  opacity: 1;
  transform: translateY(0);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bigImg {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.smallImg {
  display: flex;
  position: absolute;
  background-color: #000;
  width: 30%;
  transition: transform 0.3s ease-out;
  img {
    width: 100%;
    opacity: 0.45;
  }
}
.typingText {
  position: absolute;
  @include font-style($font-japen, 18px, 500, #fff);
  line-height: 24px;
  white-space: pre-line;
  z-index: 11;
}

.slidePagination {
  position: absolute;
  bottom: 4.5%;
  left: 2.5%;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 2px;
  z-index: 11;
  .pageNum {
    @include font-style($font-basic, 18px, 400, #fff);
    margin-bottom: 2px;
  }
  .prevBtn {
    width: 38px;
    height: 38px;
    background-image: url(../../../assets/img/common/left_btn.png);
    background-size: cover;
  }
  .nextBtn {
    width: 38px;
    height: 38px;
    background-image: url(../../../assets/img/common/right_btn.png);
    background-size: cover;
  }
  &.sec02Page {
    top: 53.5%;
    bottom: auto;
    left: auto;
    right: 0.5%;
  }
}

// section01
.sec01SlideItem {
  .sec01BigImg {
    width: 73%;
    right: 0;
  }
  .small01 {
    width: 36.5%;
    top: 8%;
    left: 20%;
  }
  .small02 {
    width: 28%;
    top: 13%;
    right: 2%;
  }
  .small03 {
    width: 18%;
    top: 27%;
    left: 5%;
  }
  .small04 {
    width: 52%;
    top: 40%;
    right: 9%;
  }
  .small05 {
    width: 25%;
    top: 80%;
    left: 2%;
  }
  .typingText {
    writing-mode: vertical-rl;
    top: 38%;
    left: 5%;
    width: 73px;
  }
}

//section02
.sec02SlideItem {
  .sec02BigImg {
    width: 100%;
    right: 0;
  }
  .small01 {
    width: 24%;
    top: 9%;
    left: 10%;
  }
  .small02 {
    width: 22%;
    top: 15%;
    right: 0;
  }
  .small03 {
    width: 16%;
    top: 26%;
    right: 35%;
  }
  .small04 {
    width: 30%;
    top: 42%;
    left: 2%;
  }
  .small05 {
    width: 30%;
    top: 48%;
    right: 0;
  }
  .typingText {
    top: 51%;
    left: 22%;
  }
}

//section03
.sec03SlideItem {
  .sec03BigImg {
    width: 86%;
    left: 10%;
  }
  .small01 {
    width: 21%;
    top: 6%;
    left: 40%;
  }
  .small02 {
    width: 25%;
    top: 23%;
    left: 5%;
  }
  .small03 {
    width: 31%;
    top: 24%;
    right: 10%;
  }
  .small04 {
    width: 17%;
    top: 55%;
    right: 2%;
  }
  .small05 {
    width: 31%;
    top: 73%;
    left: 0;
  }
  .small06 {
    width: 30%;
    top: 86%;
    right: 0;
  }
  .typingText {
    writing-mode: vertical-rl;
    top: 45%;
    left: 10%;
    width: 50px;
  }
}