@use "../../../assets/styles/mixin.scss" as *;
@use "../../../assets/styles/variables.scss" as *;

.parallaxContainer {
  transition: background-color 0.5s ease;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
// ---------- sticky
.stickyAbsolContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .stickyWrap {
    position: sticky;
    top: 0;
    height: 100dvh;
    z-index: 10;
    pointer-events: none;
  }
  .bigImgWrap {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transform: scale(0.99);
    filter: blur(3px);
    transition:
      opacity 0.6s ease-in-out,
      transform 0.4s ease-in-out,
      filter 0.4s ease-in-out;
    will-change: opacity, transform, filter;
    &.visible {
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
    }
    .bigImg {
      width: 100%;
      flex-shrink: 0;
      object-fit: contain;
      // display: none;
    }
  }
  .sec01BigImgWrap {
    padding-left: 12%;
    padding-top: 7%;
    .bigImg {
      object-position: bottom right;
    }
  }
  .sec03BigImgWrap {
    padding-top: 10%;
    .bigImg {
      object-position: bottom center;
    }
  }
}

section {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 200vh;
}
.smallImg {
  position: absolute;
  transition: transform 0.1s ease-out;
  will-change: transform;
  .smallImgInner {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000;
  } 
  img {
    width: 100%;
    opacity: 0.38;
  }
}
.dialogSmText,
.dialogLgText {
  @include font-style($font-japen, inherit, 500, #fff);
  opacity: 0;
  filter: blur(4px);
  transform: translateY(20px);
  transition:
    opacity 1s ease,
    filter 1s ease,
    transform 1s ease;
  white-space: pre-line;
  position: absolute;
  &.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
.dialogSmText {
  color: #fff;
  opacity: 0;
  filter: blur(4px);
  transition:
    opacity 0.8s ease,
    filter 0.8s ease;
  &.visible {
    opacity: 1;
    filter: blur(0);
  }
}
.dialogLgText {
  // display: none !important;
}

// --------- Section01
.section01 {
  height: 440vw;
  // margin-bottom: -50vw;
  .dialogSmText {
    font-size: 22px;
    line-height: 28px;
    top: 20%;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
  }
  .dialogLgText {
    font-size: 32px;
    line-height: 72px;
    writing-mode: vertical-rl;
    top: 60%;
    z-index: 10;
  }
  // small
  .small01 {
    width: 31%;
    left: 8%;
    top: 10%;
    .smallImgInner {
      transform: rotate(-9deg);
    }
  }
  .small02 {
    width: 44%;
    right: 0;
    top: 30%;
    .smallImgInner {
      transform: rotate(-5deg); 
    }
  }
  .small03 {
    width: 57%;
    left: 6%;
    top: 37%;
    .smallImgInner {
      transform: rotate(3deg);
    }
  }
  .small04 {
    width: 29.5%;
    right: 0;
    top: 52%;
    .smallImgInner {
      transform: rotate(5deg);
    }
  }
  .small05 {
    width: 39%;
    left: 13%;
    top: 59%;
    .smallImgInner {
      transform: rotate(-6deg);
    }
  }
  .small06 {
    width: 73%;
    right: 0;
    top: 73%;
    .smallImgInner {
      transform: rotate(3deg);
    }
  }
  .small07 {
    width: 40%;
    left: 0;
    top: 96%;
    .smallImgInner {
      transform: rotate(-4deg);
    }
  }
  .small08 {
    width: 22%;
    right: 10%;
    top: 18%;
    .smallImgInner {
      transform: rotate(8deg);
    }
  }
  .small09 {
    width: 26%;
    left: 0;
    top: 65%;
    display: none;
  }
  .small10 {
    width: 42%;
    left: 45%;
    top: 86%
  }
  .small11 {
    width: 30%;
    right: 3%;
    top: 100%;
    .smallImgInner {
      transform: rotate(11deg);
    }
  }
}

// --------- Section02
.section02 {
  // background-color: blue;
}
.section03 {
  // background-color: yellow;
}

// --------- Section03
