@use "../../../assets/styles/mixin.scss" as *;
@use "../../../assets/styles/variables.scss" as *;

.parallaxSlideWrapper {
  width: 100%;
  min-height: 700px;
  height: clamp(90vh, 167vw, 174vw);
  margin-top: 100px;
  position: relative;
  .parallaxSlideInner {
    width: 100%;
    height: 100%;
  }
}
.slideItem {
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
  transform: translateY(20px);
}
.activeSlide {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.fadeIn {
  animation: fadeInUp 0.8s ease forwards;
}
.slideItem:nth-child(1).activeSlide {
  opacity: 1;
  transform: translateY(0);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.bigImg {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.smallImg {
  display: flex;
  position: absolute;
  background-color: #000;
  width: 30%;
  transition: transform 0.3s ease-out;
  img {
    width: 100%;
    opacity: 0.45;
  }
}
.typingText {
  position: absolute;
  @include font-style($font-japen, clamp(18px, 5vw, 45px), 500, #fff);
  line-height: clamp(24px, 5.6vw, 51px);
  white-space: pre-line;
  z-index: 11;
}
.slidePagination {
  position: absolute;
  bottom: 4.5%;
  left: 2.5%;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 2px;
  z-index: 11;
  .pageNum {
    @include font-style($font-basic, clamp(18px, 3.5vw, 28px), 400, #fff);
    margin-bottom: 2px;
  }
  .prevBtn {
    width: clamp(38px, 7vw, 60px);
    height: clamp(38px, 7vw, 60px);
    background-image: url(../../../assets/img/common/left_btn.png);
    background-size: cover;
  }
  .nextBtn {
    width: clamp(38px, 7vw, 60px);
    height: clamp(38px, 7vw, 60px);
    background-image: url(../../../assets/img/common/right_btn.png);
    background-size: cover;
  }
  &.sec02Page {
    top: 53.5%;
    bottom: auto;
    left: auto;
    right: 0.5%;
  }
}

// section01
.sec01SlideItem {
  .sec01BigImg {
    width: 73%;
    right: 0;
  }
  .small01 {
    width: 36.5%;
    top: 2%;
    left: 20%;
  }
  .small02 {
    width: 28%;
    top: 13%;
    right: 2%;
  }
  .small03 {
    width: 18%;
    top: 27%;
    left: 5%;
  }
  .small04 {
    width: 52%;
    top: 40%;
    right: 9%;
  }
  .small05 {
    width: 25%;
    top: 80%;
    left: 2%;
  }
  .typingText {
    writing-mode: vertical-rl;
    top: 38%;
    left: 5%;
    width: clamp(73px, 17%, 40%);
  }
}

//section02
.sec02SlideItem {
  .sec02BigImg {
    width: 100%;
    right: 0;
  }
  .small01 {
    width: 28%;
    top: 5%;
    left: 10%;
  }
  .small02 {
    width: 22%;
    top: 15%;
    right: 0;
  }
  .small03 {
    width: 16%;
    top: 26%;
    right: 35%;
  }
  .small04 {
    width: 30%;
    top: 42%;
    left: 2%;
  }
  .small05 {
    width: 30%;
    top: 48%;
    right: 0;
  }
  .typingText {
    top: 51%;
    left: 22%;
  }
}

//section03
.sec03SlideItem {
  .sec03BigImg {
    width: 86%;
    left: 10%;
  }
  .small01 {
    width: 24%;
    top: 0%;
    left: 40%;
  }
  .small02 {
    width: 25%;
    top: 23%;
    left: 5%;
  }
  .small03 {
    width: 31%;
    top: 24%;
    right: 10%;
  }
  .small04 {
    width: 17%;
    top: 55%;
    right: 2%;
  }
  .small05 {
    width: 31%;
    top: 73%;
    left: 0;
  }
  .small06 {
    width: 30%;
    top: 86%;
    right: 0;
  }
  .typingText {
    writing-mode: vertical-rl;
    top: 45%;
    left: 10%;
    width: 50px;
  }
}

// pc ver
.pc.parallaxSlideWrapper {
  height: 656px;
  min-height: unset;
  margin-top: 240px;
  .typingText {
    font-size: 32px;
    line-height: 36px;
    writing-mode: horizontal-tb;
    top: 66%;
    left: 5%;
    width: auto;
  }
  .slidePagination {
    position: absolute;
    top: auto;
    bottom: 6%;
    left: 4%;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 2px;
    z-index: 11;
    .pageNum {
      font-size: 22px;
    }
    .prevBtn {
      width: 50px;
      height: 50px;
    }
    .nextBtn {
      width: 50px;
      height: 50px;
    }
  }
  // section01
  .sec01SlideItem {
    .sec01BigImg {
      width: 418px;
    }
    .small01 {
      width: 237px;
      top: 5%;
      left: 5%;
    }
    .small02 {
      width: 106px;
      top: -2%;
      right: 40%;
    }
    .small03 {
      width: 159px;
      top: auto;
      bottom: -2%;
      left: 44%;
    }
    .small04 {
      width: 300px;
      top: 40%;
      left: 28%;
    }
    .small05 {
      width: 98px;
      top: 59%;
      left: 8%;
    }
  }
  //section02
  .sec02SlideItem {
    .sec02BigImg {
      width: 547px;
    }
    .small01 {
      width: 205px;
      top: 15%;
      left: 58%;
    }
    .small02 {
      width: 126px;
      top: 4%;
      right: 1%;
    }
    .small03 {
      width: 97px;
      top: -1%;
      left: 35%;
    }
    .small04 {
      width: 156px;
      top: 14%;
      left: 6%;
    }
    .small05 {
      width: 190px;
      top: 61%;
      right: 53%;
    }
  }
  //section03
  .sec03SlideItem {
    .sec03BigImg {
      width: 480px;
      left: auto;
      right: 0;
    }
    .small01 {
      width: 120px;
      top: 24%;
      left: auto;
      right: 0;
    }
    .small02 {
      width: 114px;
      top: 30%;
      left: 3%;
    }
    .small03 {
      width: 237px;
      top: 47%;
      right: auto;
      left: 29%;
    }
    .small04 {
      width: 107px;
      top: 2%;
      left: 50%;
    }
    .small05 {
      width: 144px;
      top: 8%;
      left: 20%;
    }
    .small06 {
      width: 225px;
      top: auto;
      bottom: -5%;
      right: auto;
      left: 38%;
    }
  }
}
