@use "../../../assets/styles/mixin.scss" as *;
@use "../../../assets/styles/variables.scss" as *;

.parallaxSlideWrapper {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  min-height: 103dvh;
  height: 150vw;
  margin-top: 100px;
}
.slideItem {
  max-width: 100vw;
  min-height: 103dvh;
  height: 150vw;
  // overflow: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(20px);
}
.activeSlide {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.fadeIn {
  animation: fadeInUp 0.8s ease forwards;
}
.slideItem:nth-child(1).activeSlide {
  opacity: 1;
  transform: translateY(0);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bigImg {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.smallImg {
  display: flex;
  position: absolute;
  background-color: #000;
  width: 30%;
  transition: transform 0.3s ease-out;
  img {
    width: 100%;
    opacity: 0.45;
  }
}
.typingText {
  position: absolute;
  @include font-style($font-japen, 18px, 500, #fff);
  white-space: pre-line;
}

.sec01SlideItem {
  .sec01BigImg {
    width: 73%;
    position: absolute;
    z-index: 10;
    right: 0;
  }
  .small01 {
    width: 36.5%;
    top: 8%;
    left: 20%;
  }
  .small02 {
    width: 28%;
    top: 13%;
    right: 2%;
  }
  .small03 {
    width: 18%;
    top: 27%;
    left: 5%;
  }
  .small04 {
    width: 52%;
    top: 40%;
    right: 9%;
  }
  .small05 {
    width: 25%;
    top: 80%;
    left: 2%;
  }
  .typingText {
    writing-mode: vertical-rl;
    top: 38%;
    left: 5%;
    line-height: 24px;
    width: 73px;
  }
}

.slidePagination {
  position: absolute;
  bottom: 5%;
  left: 5%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  button {
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
  }
}
