// font
$font-basic: "Hahmlet", "HelveticaNeue", sans-serif;
$font-eng: "HelveticaNeue", sans-serif;
$font-eng-home: "EuropaGroteskSH", "HelveticaNeue", sans-serif;
$font-japen: "GenRyuMin", "HelveticaNeue", sans-serif;

// color
$red: #c7061a;
