// font
$font-basic: "Hahmlet", "HelveticaNeue", sans-serif;
$font-eng: "HelveticaNeue", sans-serif;
$font-eng-home: "EuropaGroteskSH", "HelveticaNeue", sans-serif;
$font-japen: "GenRyuMin", "HelveticaNeue", sans-serif;
$font-hand: "InkLipquid", sans-serif;

// color
$red: #c7061a;
// 
$blue: #006dd7;
$yellow: #fffe37;
$dark_navy: #01284e;
